@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    /* border: 3px solid #000; */
    padding: 0;

    height: fit-content;
}

h2 {
    color: #333333;
    font-size: 18px;
}

img {
    width: 100%;
    border-radius: 12px;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 120px;

    margin: 0 auto;
    padding: 24px;

    max-width: 1000px;
    height: fit-content;
}

#title {
    color: #4E5150;
    font-size: 36px;
    padding: 0;
    margin: 0;
    height: 100%;

    grid-column: 1;
}

#form {
    grid-column: 1;
}

#items {
    grid-column: 2;

    background-color: #F2F2F2;
    border-radius: 12px;

    padding: 20px 30px;
}

form input[type='text'], form input[type='number'], form select {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100%;

    padding: 18px 52px;
    margin-top: 5px;
    margin-bottom: 20px;

    border: 1px solid #828282;
    border-radius: 12px;

    outline: none;
}

form option {
    color: #4F4F4F;
}

form label {
    color: #4F4F4F;
    font-size: 12px;
    position: relative;
    right: 28px;
}

.contact-info {
    margin-bottom: 80px;
}

i.fas {
    position: relative;
    top: 45px;
    left: 10px;

    color: #828282;
}

i.fas.fa-phone {
    transform: rotate(105deg);
}
.country-and-postal_code {
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(2, 1fr);
}

.save-information {
    color: #4F4F4F;
    font-size: 12px;
}

.submit-button {
    margin-top: 24px;

    display: flex;
    justify-content: flex-end;
}

form button {
    background: #F2994A;
    color: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    padding: 17px 45px;

    outline: none;
    border: none;
    border-radius: 12px;
}



.item {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    position: relative;
}

.item:first-of-type {
    margin-bottom: 30px;
}

/* .item:last-of-type {
    margin-bottom: 100px;
} */

.item-name {
    font-size: 16px;
    margin: 0;
}

.price-and-amount {
    width: 100%;
}

.two-prices {
    display: flex;
    gap: 10px;

    align-items: center;
}

.discount {
    font-size: 16px;
    color: #F2994A;
    margin: 0;
}

.original-price {
    font-size: 12px;
    color: #4E5150;
    text-decoration: line-through;
}

.item-amount {
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 12px;

    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;

    padding: 4px;
}

.item-amount button {
    font-family: sans-serif;
    font-size: 20px;

    background: #E0E0E0;
    color: #828282;

    outline: none;
    border: none;

    padding: 0;
    margin: 0px 15px;
    width: 30px;
    height: 30px;
}

.shipping-and-total {
    margin-top: 96px;
}

.shipping, .total {
    display: flex;
    justify-content: space-between;
}